{
    "env": {
      "browser": true,
      "commonjs": true,
      "es6": true,
      "node": true,
      "jest/globals": true
    },
    "parserOptions": {
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true
      }
    },
    "extends": [
      "standard",
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react/jsx-runtime"
    ],
    "rules": {
      "react/jsx-filename-extension": 0,
      "react/jsx-uses-vars": 2,
      "react/prop-types": 0,
      "import/prefer-default-export": 0,
      "no-console": 0,
      "no-unused-vars": ["warn", { "argsIgnorePattern": "^_" }], // Highlight unused variables
      "import/no-unused-modules": [
        "warn",
        {
          "unusedExports": true, // Check for unused exports
          "missingExports": true // Check for missing exports
        }
      ]
    },
    "plugins": [
      "react",
      "node",
      "jest",
      "import" // Add the import plugin
    ],
    "settings": {
      "react": {
        "version": "detect"
      }
    }
  }