.toast-notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  min-width: 200px;
  max-width: 800px; /* Set a max-width to control the width */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.toast-notification .toast-body {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.toast-notification .toast-body-text {
  white-space: pre-wrap; /* Allows text to wrap and handle multiline */
  word-wrap: break-word; /* Ensures words break correctly */
}

.toast-notification.success-toast {
  background-color: #28a745;
  color: white;
}

.toast-notification.error-toast {
  background-color: #575151;
  color: white;
}

.toast-notification .close {
  color: white;
}
