@use 'variables';
@use 'sass:color'; // Import the sass:color module

.form-group {
  margin-bottom: variables.$base-spacing;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-control {
    width: 100%;
    padding: variables.$base-spacing;
    font-size: 1rem;
    border: 1px solid #ced4da;
    border-radius: variables.$border-radius;

    &:focus {
      border-color: variables.$primary-color;
      outline: none;
    }
  }
}

.btn-primary {
  background-color: variables.$primary-color;
  border: none;
  padding: variables.$base-spacing;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: color.scale(variables.$primary-color, $lightness: -10%);
  }
}