// _modal.scss
@use 'variables';

.modal,
.confirm-modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;

  .modal-content,
  .confirm-modal {
    background-color: variables.$white-color;
    padding: variables.$base-spacing * 2;
    border-radius: variables.$border-radius;
    box-shadow: variables.$shadow;
    width: 300px;
  }

  .confirm-modal-actions {
    display: flex;
    justify-content: space-between;

    .btn {
      margin: 0 variables.$base-spacing;
    }
  }
}