@use 'variables';

.signin-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: variables.$secondary-color;
  position: relative; /* To allow positioning of the logo */

  .signin-logo {
    position: absolute; /* Position the logo */
    top: 20px; /* Adjust vertical position */
    left: 20px; /* Adjust horizontal position */
    
    img {
      width: 100px; /* Reduced logo size */
      height: auto;
    }
  }

  .signin-form {
    background: variables.$white-color;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    h2 {
      margin-bottom: 15px;
      font-size: 1.5rem;
    }

    .form-group {
      margin-bottom: 15px;
      text-align: left;

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
    }

    .btn-primary {
      background-color: variables.$primary-color;
      border: none;
      color: variables.$text-color;
      padding: 10px 15px;
      border-radius: variables.$border-radius;
      font-size: 1rem;
      cursor: pointer;

      &:hover {
        background-color: darken(variables.$primary-color, 10%);
      }
    }
  }
}