// _variables.scss
$primary-color: #06367a;
$secondary-color: #f8f9fa;
$danger-color: #dc3545;
$white-color: white;
$text-color: $white-color;
$base-spacing: 10px;
$border-radius: 5px;
$shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
$hover-bg: #bab8b8;
$table-row-even-bg: white;
$table-row-odd-bg: rgb(242, 242, 242);